.awakening-img-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.4s ease-in-out;
}

.awake-title-pt1-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1s ease-in-out;
}
.awake-title-pt2-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1.4s ease-in-out;
}
.awake-title-pt3-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1.6s ease-in-out;
}

.awake-invite-text-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.4s ease-in-out;
}

.awake-invite-figure-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1.4s ease-in-out;
}

.longevity-intro-figure-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1.4s ease-in-out;
}

.longevity-intro-txt-1-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1s ease-in-out;
}
.longevity-intro-txt-2-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.4s ease-in-out;
}
.longevity-intro-txt-3-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.6s ease-in-out;
}
.longevity-intro-txt-4-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.6s ease-in-out;
}
.longevity-intro-txt-5-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: leftToRightAnimation 1.7s ease-in-out;
}

.longevity-title-animate{
    opacity: 1;
    transition: opacity 0.5s;
    animation: topToDownAnimation 1.4s ease-in-out;
}

.longevity-text-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: topToDownAnimation 1.4s ease-in-out;
}

.awakening-text-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: topToDownAnimation 1.2s ease-in-out;
}

.life-expectation-item-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: topToDownAnimation 1.4s ease-in-out;
}

.longevity-figure-animate {
    opacity: 1;
    transition: opacity 0.5s;
    animation: rightToLeftAnimation 1.4s ease-in-out;
}
